.contacts {
  position: relative;


  @include vp-1023 {
    margin-left: auto;
  }

  @include vp-767 {
    margin-left: 0;
  }
}

.contacts__address {
  max-width: 345px;

  @include vp-1023 {
    max-width: 320px;
  }
}

.contacts__address-text {
  margin: 0;

  @include vp-1023 {
    line-height: 25px;
  }
}
