.feedback {
  position: relative;
  background-color: $color-deep-sky-blue;
  padding-top: 170px;
  padding-bottom: 247px;

  &::before {
      position: absolute;
      top: 0;
      left: 0;
      border-top: 842px solid $color-black-pearl-lighter;
      border-right: 975px solid $color-transparent;
      content: "";

    @include vp-1279 {
      display: none;
    }
  }

  @include vp-1023 {
    padding-top: 45px;
    padding-bottom: 127px;
  }

  @include vp-767 {
    padding-bottom: 88px;
  }
}

.feedback__container {
  position: relative;
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;

  &::before {
    position: absolute;
    width: 510px;
    height: 285px;
    top: 76px;
    left: 0;
    background-image: url("/img/paper_airplane@1x.webp");
    background-size: contain;
    content: "";

    @include retina {
      background-image: url("/img/paper_airplane@2x.webp");
    }

    @include vp-1279 {
      display: none;
    }
  }

  @include vp-1023 {
    justify-content: center;
  }
}

.feedback__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include vp-1279 {
    width: 100%;
  }
}

.feedback__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $color-default-white;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    display: block;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 42px;
  }
}

.feedback__text {
  margin: 0;
  margin-bottom: 35px;
  font-family: $ff-addition;
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;

  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  @include vp-1023 {
    margin-bottom: 22px;
  }

  @include vp-767 {
    display: block;
    margin-bottom: 33px;
    font-size: 14px;
    line-height: 19px;
  }
}
