.footer {
  background-color: $color-black-pearl;
}

.footer__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 53px;
  padding-bottom: 55px;
  width: 100vw;

  @include vp-1279 {
    width: 94vw;
  }

  @include vp-1023 {
    padding-bottom: 53px;
    width: 87vw;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 65px;
    flex-direction: column;
    width: 84vw;
  }
}

.footer__container {
  display: flex;
  margin-left: auto;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
  }
}
