.navigation {
  max-width: 470px;
  margin-right: 30px;
  position: relative;

  @include vp-1279 {
    width: 39vw;
    margin-right: 0;
  }

  @include vp-1023 {
    width: 220px;
  }

  @include vp-767 {
    max-width: 717px;
    width: 100%;
    margin-bottom: 43px;
  }

  &::after {
    @include vp-767 {
      position: absolute;
      width: 1000%;
      height: 1px;
      content: "";
      bottom: -23px;
      left: -498px;
      right: 0;
      background-color: $color-alice-blue-lighter;
    }
  }
}

.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 138px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;

  @include vp-1279 {
    gap: 10px;
  }

  @include vp-1023 {
    grid-template-columns: 1fr;
    gap: 0;
    height: auto;
  }
}

@include vp-767 {
  .is-active .navigation__list {
    min-height: 200px;
  }
}

.navigation__link {
  margin-bottom: 10px;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  &:nth-child(4n) {
    margin-bottom: 0;

    @include vp-1023 {
      margin-bottom: 10px;
    }
  }
}
